.body{
    background: #95cdef
}
.bottom-upper{
    min-height: 400px
}
.brand{
    max-height: 30px;
    max-width: 150px;
}
}
navbar-default .navbar-brand {
    color: #95cdef;
}
navbar-default {
    font-size: 15px;
    background-color: #95cdef;
    border-width: 0px;
    border-radius: 0px;
}
